.date-range-picker {
  position: absolute;
  background: #fff;
  top: 100px;
  left: 20px;
  padding: 4px;
  margin-top: 1px;
  border-radius: 4px;
  width: 278px; }
  .date-range-picker.open-left:before {
    position: absolute;
    top: -7px;
    right: 9px;
    display: inline-block;
    border-right: 7px solid transparent;
    border-bottom: 7px solid rgba(0, 0, 0, 0.2);
    border-left: 7px solid transparent;
    content: ''; }
  .date-range-picker.open-left:after {
    position: absolute;
    top: -6px;
    right: 10px;
    display: inline-block;
    border-right: 6px solid transparent;
    border-bottom: 6px solid #fff;
    border-left: 6px solid transparent;
    content: ''; }
  .date-range-picker.open-center:before {
    position: absolute;
    top: -7px;
    left: 0;
    right: 0;
    width: 0;
    margin-left: auto;
    margin-right: auto;
    display: inline-block;
    border-right: 7px solid transparent;
    border-bottom: 7px solid rgba(0, 0, 0, 0.2);
    border-left: 7px solid transparent;
    content: ''; }
  .date-range-picker.open-center:after {
    position: absolute;
    top: -6px;
    left: 0;
    right: 0;
    width: 0;
    margin-left: auto;
    margin-right: auto;
    display: inline-block;
    border-right: 6px solid transparent;
    border-bottom: 6px solid #fff;
    border-left: 6px solid transparent;
    content: ''; }
  .date-range-picker.open-right:before {
    position: absolute;
    top: -7px;
    left: 9px;
    display: inline-block;
    border-right: 7px solid transparent;
    border-bottom: 7px solid rgba(0, 0, 0, 0.2);
    border-left: 7px solid transparent;
    content: ''; }
  .date-range-picker.open-right:after {
    position: absolute;
    top: -6px;
    left: 10px;
    display: inline-block;
    border-right: 6px solid transparent;
    border-bottom: 6px solid #fff;
    border-left: 6px solid transparent;
    content: ''; }
  .date-range-picker.dropup {
    margin-top: -5px; }
    .date-range-picker.dropup:before {
      top: initial;
      bottom: -7px;
      border-top: 7px solid #ccc; }
    .date-range-picker.dropup:after {
      top: initial;
      bottom: -6px;
      border-top: 6px solid #fff; }

.date-range-picker.single .ranges, .date-range-picker.single .calendar {
  float: none; }

.date-range-picker .calendar {
  display: none;
  max-width: 270px;
  margin: 4px; }

.date-range-picker.show-calendar .calendar {
  display: block; }

.date-range-picker .calendar.single .calendar-table {
  border: none; }

/* Calendars */
.date-range-picker .calendar th, .date-range-picker .calendar td {
  white-space: nowrap;
  text-align: center;
  min-width: 32px; }

.date-range-picker .calendar-table {
  padding: 4px;
  background: #fff; }

.date-range-picker table {
  width: 100%;
  margin: 0; }

.date-range-picker td, .date-range-picker th {
  text-align: center;
  width: 20px;
  height: 20px;
  border-radius: 4px;
  white-space: nowrap;
  cursor: pointer; }

.date-range-picker td.off, .date-range-picker td.off.in-range, .date-range-picker td.off.start-date, .date-range-picker td.off.end-date {
  color: #999;
  background: #fff; }

.date-range-picker td.disabled, .date-range-picker option.disabled {
  color: #999;
  cursor: not-allowed;
  text-decoration: line-through; }

.date-range-picker td.available:hover, .date-range-picker th.available:hover {
  background: #eee; }

.date-range-picker td.in-range {
  background: #ebf4f8;
  border-radius: 0; }

.date-range-picker td.start-date {
  border-radius: 4px 0 0 4px; }

.date-range-picker td.end-date {
  border-radius: 0 4px 4px 0; }

.date-range-picker td.start-date.end-date {
  border-radius: 4px; }

.date-range-picker td.active, .date-range-picker td.active:hover {
  background-color: #007bff;
  border-color: #007bff;
  color: #fff; }

.date-range-picker td.week, .date-range-picker th.week {
  font-size: 80%;
  color: #ccc; }

.date-range-picker th.month {
  width: auto; }

/* Text Input Above Each Calendar */
.date-range-picker .input-mini {
  border: 1px solid #ccc;
  border-radius: 4px;
  color: #555;
  display: block;
  height: 30px;
  line-height: 30px;
  vertical-align: middle;
  margin: 0 0 5px 0;
  padding: 0 6px 0 28px;
  width: 100%; }

.date-range-picker .input-mini.active {
  border: 1px solid #357ebd; }

.date-range-picker .date-range-picker_input i {
  position: absolute;
  left: 8px;
  top: 8px; }

.date-range-picker .date-range-picker_input {
  position: relative; }

/* Time Picker */
.date-range-picker .calendar-time {
  text-align: center;
  margin: 5px auto;
  line-height: 30px;
  position: relative;
  padding-left: 28px; }

.date-range-picker .calendar-time select.disabled {
  color: #ccc;
  cursor: not-allowed; }

/* Predefined Ranges */
.date-range-picker .ranges {
  font-size: 11px;
  float: none;
  margin: 4px;
  text-align: left; }

.date-range-picker .ranges ul {
  list-style: none;
  margin: 0 auto;
  padding: 0;
  width: 100%; }

.date-range-picker .ranges li {
  font-size: 13px;
  background: transparent;
  border: 1px solid transparent;
  color: #08c;
  padding: 3px 12px;
  margin-bottom: 8px;
  border-radius: 5px;
  cursor: pointer; }

.date-range-picker .ranges li.active, .date-range-picker .ranges li:hover {
  background: #007bff;
  border: 1px solid #007bff;
  color: #fff; }

/*  Larger Screen Styling */
@media (min-width: 564px) {
  .date-range-picker {
    width: auto; }

  .date-range-picker .ranges ul {
    width: 160px; }

  .date-range-picker.single .ranges ul {
    width: 100%; }

  .date-range-picker .calendar.left .calendar-table {
    border-right: none;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0; }

  .date-range-picker .calendar.right .calendar-table {
    border-left: none;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0; }

  .date-range-picker .calendar.left {
    clear: left;
    margin-right: 0; }

  .date-range-picker.single .calendar.left {
    clear: none; }

  .date-range-picker.single .ranges,
  .date-range-picker.single .calendar {
    float: left; }

  .date-range-picker .calendar.right {
    margin-left: 0; }

  .date-range-picker .left .date-range-picker_input {
    padding-right: 12px; }

  .date-range-picker .calendar.left .calendar-table {
    padding-right: 12px; }

  .date-range-picker .ranges,
  .date-range-picker .calendar {
    float: left; } }
@media (min-width: 730px) {
  .date-range-picker .ranges {
    width: auto;
    float: left; }

  .date-range-picker .calendar.left {
    clear: none; } }

/*# sourceMappingURL=date-range-picker.css.map */
